/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 350px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}
/* Navigation Styling */
.navbar {
  background-color: #343957;
}
.well {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* HealthScore css */
@media screen and (min-width: 480px) {
  .totalScore {
    font-size: 34px;
  }
}
.img {
  max-width: 25px;
  width: 40px;
  height: 40px;
}
